{% extends 'base.html.twig' %}
{% block content  %}
    <div class="row">
        <div class="container">
            <h2>Modifier mon mot de passe</h2><br><br>
            {% if notification %}
            <div class="alert alert-info">
                {{ notification }}
            </div>
            {% endif %}
            {{ form(form) }}
        </div>
    </div>

{% endblock %}