{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <h2> Inscription</h2><br>

{{ form(form) }}
        </div>
    </div>
{% endblock %}
